includes:
    - ../../vendor/phpstan/phpstan-strict-rules/rules.neon
    - ../../vendor/phpstan/phpstan-phpunit/extension.neon
    - ../../vendor/phpstan/phpstan-phpunit/rules.neon
    - ../../vendor/haspadar/phpstan-rules/rules.neon

parameters:
    # Path values below are dynamically derived from php.src configuration
    # rather than being statically declared.
    paths:
        - ../../src

    level: 9
    errorFormat: table
    reportUnmatchedIgnoredErrors: true
    checkUninitializedProperties: true
    checkClassCaseSensitivity: true
    checkDynamicProperties: true
    exceptions:
        checkedExceptionClasses:
            - \Throwable
    haspadar:
        testsPaths:
            - "*/tests/*"
        afferentCoupling:
            ignoreInterfaces: true
            excludedClasses:
                - \Haspadar\Sheriff\SheriffException
        prohibitStaticMethods:
            allowNamedConstructors: true
