includes:
{% ListText(phpstan.neon_includes)|EachFormatted("    - %s")|Joined("\n") %}

parameters:
    # Path values below are dynamically derived from php.src configuration
    # rather than being statically declared.
    paths:
{% ListText(php.src)|EachFormatted("../../%s")|EachFormatted("        - %s")|Joined("\n") %}
{% ListText(php.tests)|EachFormatted("../../%s")|EachFormatted("        - %s")|Joined("\n") %}
{% NeonTree(phpstan.parameters) %}
