includes:
<< config(phpstan.neon_includes)|format_each("    - %s")|join("\n") >>

parameters:
    level: << config(phpstan.level)|join("") >>

    paths:
<< config(phpstan.paths)|format_each("        - %s")|join("\n") >>

    errorFormat: table
    reportUnmatchedIgnoredErrors: true

    checkUninitializedProperties: true
    checkClassCaseSensitivity: true
    checkDynamicProperties: true

    exceptions:
        checkedExceptionClasses:
<< config(phpstan.checked_exceptions)|format_each("            - %s")|join("\n") >>

    haspadar:
        afferentCoupling:
            ignoreInterfaces: << config(phpstan.afferent_coupling.ignore_interfaces)|join("") >>
<< config(phpstan.afferent_coupling.excluded_classes)|format_each("                - %s")|join("\n")|if_not_empty()|format("            excludedClasses:\n%s") >>
