<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="../../vendor/autoload.php"
        colors="true"
        executionOrder="random"
        failOnWarning="true"
        failOnRisky="true"
        displayDetailsOnPhpunitDeprecations="true"
        requireCoverageMetadata="false"
        beStrictAboutCoverageMetadata="false"
>
    <testsuites>
        <testsuite name="unit">
<< config(phpunit.testsuites.unit)|format_each("            <directory suffix="Test.php">%s</directory>")|join("\n") >>
        </testsuite>

        <testsuite name="integration">
<< config(phpunit.testsuites.integration)|format_each("            <directory suffix="Test.php">%s</directory>")|join("\n") >>
        </testsuite>
    </testsuites>

    <source>
        <include>
<< config(phpunit.source.include)|format_each("            <directory suffix=".php">%s</directory>")|join("\n") >>
        </include>
    </source>
</phpunit>
