<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="../../vendor/autoload.php"
        colors="true"
        executionOrder="random"
        failOnWarning="true"
        failOnRisky="true"
        displayDetailsOnPhpunitDeprecations="true"
        requireCoverageMetadata="false"
        beStrictAboutCoverageMetadata="false"
>
    <testsuites>
        <testsuite name="unit">
{% JoinedLists(php.tests, phpunit.testsuites.unit, "/")|EachFormatted("../../%s")|EachFormatted('            <directory suffix="Test.php">%s</directory>')|Joined("\n") %}
        </testsuite>

        <testsuite name="integration">
{% JoinedLists(php.tests, phpunit.testsuites.integration, "/")|EachFormatted("../../%s")|EachFormatted('            <directory suffix="Test.php">%s</directory>')|Joined("\n") %}
        </testsuite>
    </testsuites>

    <source>
        <include>
{% ListText(php.src)|EachFormatted("../../%s")|EachFormatted('            <directory suffix=".php">%s</directory>')|Joined("\n") %}
        </include>
    </source>
</phpunit>
