<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="../../vendor/autoload.php"
        colors="true"
        executionOrder="random"
        failOnWarning="true"
        failOnRisky="true"
        displayDetailsOnPhpunitDeprecations="true"
        requireCoverageMetadata="false"
        beStrictAboutCoverageMetadata="false"
>
    <testsuites>
{% PhpunitTestsuites(phpunit.testsuites, php.tests) %}
    </testsuites>

    <source>
        <include>
{% ListText(php.src)|EachFormatted("../../%s")|EachFormatted('            <directory suffix=".php">%s</directory>')|Joined("\n") %}
        </include>
    </source>
</phpunit>
